h1 {
font-family: 'Source Serif Pro', serif;
font-size : 48px;
Line-height: 160%;
text-align: center;
max-width: 1020px;
  color : #1E1E1E;
  margin-left: auto;
    margin-right: auto;
}

p{font-family: 'Source Serif Pro', serif;
  font-size : 15px;
text-align : left;
    float: right;
    margin: unset;}
